<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ca.bcit.psychopass">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-feature android:name="android.hardware.location.gps" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_warning"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_warning"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".SettingsActivity"
            android:theme="@style/AppTheme.Settings"
            android:label="@string/Setting"
            android:parentActivityName=".MainActivity" />
        <activity
            android:theme="@style/AppTheme.Settings"
            android:name=".CrimeListActivity"
            android:label="@string/CrimeList"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyLocationService"
            android:enabled="true" />
    </application>

</manifest>